.recently-edited-content {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5rem;

  .views-exposed-form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;

    .js-form-item {
      margin-right: 1rem;
    }
  }
}